@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gowun+Batang:wght@400;700&family=Roboto:ital,wght@0,700;1,700&display=swap');

body{
    background:ghostwhite;
    color:black;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.container{
    /*max-width: 1200px;*/
    /*max-width:100ch;*/
    max-width:898.438px;
    margin: 0 auto;
    height: 100vh;
    grid-template-columns: 1fr 2fr 1fr;
}

.sr-only {
    border: 0;
    clip: rect(0, 0, 0, 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    white-space: nowrap;
    width: 1px;
}

p{
    line-height: 1.3em;
    margin-bottom:1.3em;
}

h1,
h2,
h3,
h4{
    font-family: "Gowun Batang", serif;
    font-weight: 700;
    font-style: normal;
}

h1{
    font-size: 2.0em;
}

h2{
    font-size: 1.7em;
}

h3{
    font-size: 1.3em;
}

h4{
    font-size: 1.1em;
}

nav ul li{

    list-style: none;
}

nav ul li a{
    text-decoration: none;
    font-family:'Courier New', Courier, monospace, sans-serif;
    font-weight: 700;
    font-size: 1.3em;
}
nav ul li a:link{
    color: blueviolet;
}

nav ul li a:visited{
    color: blueviolet;
}

nav ul li a:hover{

    color: blue;
    /*background: white;*/
    font-family: 'Courier New', Courier, monospace, sans-serif;
    font-weight: 700;
    font-size: 1.5em;
}
nav ul li a:active{
    color: white;
}

strong{
    font-weight:700;
}

footer{
    font-size:0.8em;
    text-align:right;
}

ul{
    padding-bottom:1.0em;
}

.image{
    border-style: solid;
    border-width: 2px;
    border-color: black;
}

figure{
    font-size:small;
    text-align:center;
    max-width:35ch;
}
